/*
        <div className="digits-cont"> 
            <div className="digit-cont">
                <h3 className="digit">
                    0        
                </h3>
            </div>
            <div className="digit-cont">
                <h3 className="digit">
                    1
                </h3>
            </div>
        </div>
*/


.digits-cont {
    justify-self: center;
    color: white;
    margin: 1em 1em;

    display: flex;
    flex-direction: row;
}

.digit-cont {
    display:flex;
    justify-content: center;
    align-items: center;

    margin: 0.1rem 0.5em;
    height: 10rem;
    width: 7rem;
    /* max-width: 120px; */

    background: rgba(254,106,180,1);
    border: 5px solid rgba(254, 72, 235, 1);
    box-shadow: 0 0 15px rgba(11,254,205,1);

    transition: height 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.digit {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    transform: scale(1, 1.25);
    
    margin: 0;
}

/* @media (min-width: 1300px) {
    .digit-cont {
        width: 10rem;
        height: 12rem;
        margin: 1rem;
    }
    .digit {
        font-size: 7rem;
    }
}

@media screen and (max-width: 1300px) {
    .digit-cont {
        width: 7rem;
        transition: width 4s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

@media screen and (max-width: 900px) {
    .digit-cont {
        display: flex;
        height: 6rem;
        align-content: center;
        transition: height 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .digit {
        font-size: 3rem;
        height: min-content;
        /* transform: scale(1, 1.25); */
    /* } */
/* }  */
