.nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;

    height: 100%;

    color: white;

    border-bottom: 1px solid pink;

    align-items: center;
}

.brand {
    height:100%;
    /* height:50px; */
    background: url('./../../res/wOnly.jpg') no-repeat;
    background-size: 20%;
    background-position: center;
    /* justify-self: ; */
}

.date-cont {
    display: grid;
    justify-content: center;
}

.date {

    padding: 0.5em;
    
    border: 5px solid #9F58CB;
    background: #489DE4;
    color: #3224AF;
    text-shadow: -1px 1px 2px rgba(0,230,8,1);
}

.logos {
    height: 100%;
    display: grid;
    grid-template:
    "acm x wsu " 1fr / 1fr 0.25fr 1fr;
    /* grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr; */
    /* align-items: center; */
}

.acm-cont {
    grid-area: acm;
    display: grid;
}

.wsu-cont {
    grid-area: wsu;
    display: grid;
}

.acm {
    /* height: 50px; */
    /* width: auto; */
    background: url('./../../res/amclogo_transparent.png') no-repeat;
    background-position: right;
    background-size: 45%;    
    /* justify-self: flex-end; */
}

.wsu {
    /* height: 50px; */
    /* width: auto; */
    background: url('./../../res/wayneshieldtransparent.png') no-repeat;
    background-size: 45%;
    background-position: left;
}