.banner {
    height: 70vh;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 1fr auto;

}

.banner-mid {
    padding-top: 2em;
    display: grid;
    grid-template:
    ". logo ." 1fr 
    ". register ." 1fr / 1fr auto 1fr;

    margin-bottom: 2em;
}
/* 
.dolo {
    grid-area: logo2;
    color: white;
    justify-self: center;
    font-size: 80px;
    background: linear-gradient(#613BBB, #9F59CC);
    text-shadow: 10px 0px 1px #4C63E6;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    height: fit-content;
 }
*/

.dolo {
    grid-area: logo;
    /* background-color: #4C63E6; */
    position: relative;
    z-index: 1;
    justify-self: center;
    align-self: center;
    width: max-content;
    height: max-content;
    margin-bottom: 2em; 
}

h2 {
    /* color: white; */
    font-size: 8vw;
    background-image: -webkit-linear-gradient(270deg,#613BBB 20%, #9F59CC 60%);
    /* text-shadow: 0px 0px 0px #4C63E6; */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    height: fit-content;
    position: relative;
    letter-spacing: 5px;
}

h2::after {
    background: inherit;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    content: attr(data-text);
    left: 0;
    position: absolute;
    text-shadow: -5px 0px 0px rgba(76,99,230,3);
    top: 0;
    z-index: -1;
}

/* .logo-name {
    grid-area: logo;
    background: url('./../../res/nameonly.png') no-repeat;
    background-size: 60%;
    background-position: center;
    height: 130px;
} */

#register {
    align-self: center;
    justify-self: center;
    grid-area: register;
    background: #FE6AB4;
    border: 5px solid #0BFED0;
    color: #24CAD5;
    -webkit-text-stroke: 1px #479AE3;
    text-shadow: 0 1px 2px rgb(0,0,0);
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 0.2em;
    box-shadow: 0 2px 20px #4E97E5;
    width: min-content;
    height: min-content;
    cursor: pointer;
}

.countdown {
    display: grid;
    margin: 0 10em;
    /* grid-auto-columns: 1fr; */
    grid-template-columns: minmax(240px, .5fr) 40px minmax(240px, .5fr) 40px minmax(240px, .5fr);
    grid-template-rows: 1fr;
    /* align-items: center; */
    justify-content: center;
    height: max-content;
}

.colons {
    color: white;
    font-size: 5rem;
    justify-self: center;
    align-self: center;
}



@media screen and (max-width: 1200px) {
    h2 {
        font-size: 12vw;
    }

    .countdown {
        grid-template-columns: repeat(auto-fit, minmax(240px, .5fr));
    }

    #register {
        font-size: 3.5vw;
    }

    .colons {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .banner {
        height: 90vh;

    }
    .banner-mid {
        grid-template: 
        ". logo ." .1fr
        ". register ." .5fr / 1fr auto 1fr;
    }
    h2 {
        font-size: 600%;
    }
    #register {
        font-size: 2rem;
    }

}

